/* Tier Description Section */
.testimonials {
  padding: 20vh 0rem 6vh 0rem;
  margin-bottom: 0px;
  width: 91vw;
  height: fit-content;
  background-color: #fde2cf;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.pricing-desc {
  padding: 16vh 0rem 6vh 0rem;
  margin-bottom: 0px;
  width: 91vw;
  background-color: #fde2cf;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.pricing-desc h2 {
  font-size: 80px;
  margin-bottom: 2rem;
  line-height: -1.25px;
}

.pricing-desc h3 {
  font-size: 2rem;
}

.pricing-desc h4 {
  font-size: 1.3rem;
  margin-bottom: 1em;
}

.testimonialContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.testimonialItem {
  background-color: #1e1a16;
  color: #fde2cf;
  width: 32%;
  border-radius: 0.8em;
  padding: 1em 2em 1.25em 2em;
}

.quotes {
  font-size: 60px;
  width: 100%;
  display: flex;
  justify-content: start;
}

.quotes i {
  text-shadow: 3px 3px #ed6325;
  transition: all 0.3s ease-in-out;
}

.quotes i:hover {
  text-shadow: none;
}

.testimonialItem p {
  text-align: left;
  font-size: 1.1em;
  margin: 0.5em 0;
}

/* Tier Comparision */
.comparision {
  padding: 6vh 0rem 6vh 0rem;
  margin-top: 16vh;
  margin-bottom: 0px;
  width: 91vw;
  height: fit-content;
  position: relative;
  background-color: #fde2cf;
  color: #1e1a16;
  border-radius: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-self: center;
  align-items: center;
}

.comparision h2 {
  font-size: 80px;
  margin-bottom: 2rem;
  line-height: -1.25px;
}

.compareTable {
  background-color: #fde2cf !important;
  padding: 2rem 10rem;
  border-radius: 1.25rem;
  color: #642714;
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 14.25%;
  font-size: 28px;
}

.featureTable {
  width: 95%;
}

.featureItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0.5rem;
  border-bottom: 1px solid rgba(54, 54, 54, 0.468);
  border-width: 8%;
}

.featureItem span {
    text-align: left;
    width: 100%;
}

/* Add Ons */
.addons {
  padding: 6vh 0rem 6vh 0rem;
  margin-top: 16vh;
  margin-bottom: 0px;
  width: 60vw;
  height: fit-content;
  background-color: #ed6325;
  color: #fde2cf;
  border-radius: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.addons h2 {
  font-size: 40px;
  margin-bottom: 1.25rem;
}

.points {
  display: flex;
  padding: 0 15vw;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.points ul {
  list-style: none;
  text-align: left;
}

.points li {
  margin: 0.75rem 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.points li i {
  margin-right: 0.25rem;
  font-size: 8px;
}

.addonEnd {
  margin-top: 1.25rem;
  font-size: 22.5px;
  /* text-shadow: 2px 2px 1px #8f2121; */
}

/* Payment Options */
.paymentContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.paymentItem {
  background-color: #f8a720;
  color: #8f2121;
  width: 32%;
  border-radius: 0.8em;
  padding: 1em 2em 1.25em 2em;
}

.paymentItem h3 {
  color: #642714;
  text-shadow: 1px 1px 1px #8f2121;
}

.paymentItem h4 {
  color: #642714;
}

.paymentPara {
  text-align: left !important;
  width: 100%;
  margin: 0.5rem 0;
  justify-content: left;
}

.paymentPara i {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

/* CTA */
.cta {
  background-color: #1e1a16;
  color: #fde2cf;
  margin: 16vh 0 0 0;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  width: 90vw;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.cta h2 {
  font-size: 60px;
}

.cta h3 {
  font-size: 25px;
}

.cta p {
  font-size: 20px;
  width: 60%;
  text-align: center;
  margin-top: 1rem;
}

.cta ul {
  list-style: none;
  margin-top: 1.5rem;
  font-size: 20px;
  gap: 2rem;
}

.cta ul li {
  text-shadow: 1.5px 1.5px 1.5px #ed6325;
}

/* Pricing FAQ */
.faq {
  width: 91vw !important;
  margin-top: 20vh;
}

.faqHead {
  font-size: 115px !important;
}
