/* Tech Stack */
.tech {
  padding: 20vh 2rem 6vh 2rem;
  margin-bottom: 0px;
  background-color: #fde2cf;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech h1 {
    color: #1e1a16;
    font-size: 72px;
    line-height: 1.1em;
    margin-bottom: 0.8em;
}

.techSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 92vw;
  height: fit-content;
  gap: 2em;
}

.techContainer {
    background: #f8a720;
    height: fit-content;
    width: 39%;
    border-radius: 1em;
    padding: 2em 1.5em;
}

.techContainer h2 {
    width: 100%;
    text-align: center;
    color: #642714;
    font-size: 35px;
    letter-spacing: -1.25px;
    margin-bottom: 0.7em;
}

.techContainer li {
    color: #8f2121;
    font-size: 26px;
    letter-spacing: -1.25px;
    line-height: 1.4em;
}

.techContainer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 1em;
    width: 80%;
}

/* Detailed Services */
.detailServices {
  padding: 16vh 5rem 6vh 5rem;
  margin-bottom: 0px;
  background-color: #fde2cf;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailServices h1 {
    color: #1e1a16;
    font-size: 80px;
    line-height: 1.1em;
}

.serviceItem {
    width: 72vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 2em 0;
}

.serviceItem h2 {
    color: #642714;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: -1.25px;
}

.serviceItemList {
    color: #8e2121;
    margin: 0 7em;
}

.serviceItemList li {
    text-align: left;
    margin: 0.5em 0;
}

.serviceItemList h3, .serviceItemList p {
    font-size: 26px;
    letter-spacing: -1.25px;
    line-height: 1.4em;
}

.boldService {
    font-weight: 900 !important;
}

/* CTA */
.cta {
  margin: 6vh 4rem 3vh 4rem;
  padding: 5em 11.5em;
  background-color: #f8a720;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-self: center;
  align-items: start;
  min-height: 90vh;
  height: fit-content;
  width: 91vw;
  border-radius: 10px;
}

.cta h1{
    color: #8f2121;
    font-size: 72px;
    line-height: 1.1em;
    margin-bottom: 0.3em;
}

.cta p, .cta ul, .cta h3 {
    color: #642714;
    font-size: 16px;
    letter-spacing: -0.18px;
}

.cta ul {
    list-style: decimal;
    margin: 0.5em 1.2em;
    font-size: 18px;
}

.cta ul h3 {
    font-weight: 600;
}

.aboutContent h3, .aboutContent p {
    line-height: 1.9em !important;
}

.bold {
    font-weight: 900 !important;
}

.ctaBtn {
  width: fit-content;
  border-width: 0px;
  height: fit-content;
  background-color: rgba(237, 99, 37, 1);
  color: #fde2cf;
  font-weight: 600;
  border-radius: 86px;
  font-size: 24px;
  letter-spacing: -1px;
  box-shadow: rgb(142, 33, 33) 0px 8px 0px 0px;
  transition: box-shadow 0.35s;
  padding: 1em 1.5em;
  margin-top: 1em;
}
.ctaBtn:hover {
  box-shadow: 0 0 0 0;
}